
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center / cover no-repeat fixed;
    user-select: none;
    /* background-color: #dab7c8; */
  }

  h1 {
    text-align: center;
    color: #4000b5;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #fff0c6;
}
u{
  color:  #4000b5;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.card{
width: 300px;
height: 250px;
min-width: 20%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(16, 30, 59, 0.25);

  backdrop-filter: blur(15px);
}
.card:hover {
  transform: translateY(-1%);
  box-shadow: 0 2rem 5rem rgba(241, 217, 139, 0.656);
}

.card_icon{
width: 100px;
align-self: baseline;
}

.card_content{
  padding: 2em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  
}

button {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: #224;
}


a{
    text-decoration: none;
    text-align: center;
    color: #446;
}


