
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center / cover no-repeat fixed;
    user-select: none;
    /* background-color: #dab7c8; */
  }

  h1 {
    text-align: center;
    color: #4000b5;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #fff0c6;
}
u{
  color:  #4000b5;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    width: 200px;
    height: 170px;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    transition: 0.4s;
    border-radius: 15px;
}

button {
    width: 180px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}


a{
    text-decoration: none;
    text-align: center;
    color:aliceblue;
}


